<div class="page-header">Seller Profile</div>
<div>User Name: <%= seller.user.username %></div>
<div>Email: <%= seller.user.email %></div>
<div>Company Name: <%= seller.companyName %></div>
<div>Company GUI Number: <%= seller.companyGUInumber %></div>

<% if (typeof user !== 'undefined' && user.id === seller.user._id.toString()) { %>
  <div>Company Bank Code: <%= seller.companyBankCode %></div>
  <div>Company Bank Account: <%= seller.companyBankAccount %></div>
<% } %>

<div class="sub-page-header">Products of This Seller</div>
<%- include('../partials/products', { products }) %>

<%- include('../partials/message') %>