<div class="page-header">Set password.</div>
<form action="/user/setPassword" method="POST">
  <div>
    <!-- Hidden input field to store username value -->
    <input type="hidden" value="<%= user.username %>" name="username" required>
    <!-- Display username value to the user -->
    <label for="usernameDisplay">User Name: </label>
    <input type="text" disabled value="<%= user.username %>" id="usernameDisplay">
  </div>
  <div>
    <!-- Hidden input field to store email value -->
    <input type="hidden" value="<%= user.email %>" name="email" required>
    <!-- Display email value to the user -->
    <label for="emailDisplay">Email: </label>
    <input type="email" disabled value="<%= user.email %>" id="emailDisplay">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Set Password</button>
</form>

<%- include('../partials/message') %>