<% if (!cart || cart.products.length === 0 ) { %>
<div class="page-header">You haven't added anything to your cart yet. <br>
  <a href="/">Go get some!</a>
</div>
<% } else{ %>
  <% for (item of cart.products){ %>
    <div class="cart-row">
      <span><%= item.product.title %>,</span>
      <form action="/cart?_method=PUT" method="POST">
        <input type="hidden" value="<%= item.product._id %>" name="productId">
        <button type="submit" class="btn-add" name="action" value="increment">+</button>
      </form>
      <span><%= item.quantity %></span>
      <form action="/cart?_method=PUT" method="POST">
        <input type="hidden" value="<%= item.product._id %>" name="productId">
        <button type="submit" class="btn-subtract" name="action" value="decrement">-</button>
      </form>
      <span>Unit Price: $<%= item.product.price %></span>
      <form action="/cart?_method=DELETE" method="POST">
        <input type="hidden" value="<%= item.product._id %>" name="productId">
        <button type="submit" class="btn-delete">Delete</button>
      </form>
    </div>
    <br>
    <% } %>
    <% if(total > 0){ %>
      <div class="cart-row">
        <span>Total: $<span><%= total %></span></span>
        <button type="submit"><a href="/checkout">Checkout</a></button>
      </div>
    <% } %>
<% } %>

<%- include('../partials/message') %>